.card-content {
    display: inline-block;
    width: 370px;
    height: 110px;
    padding: 20px 24px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    text-align: none;
  }
  .card {
    position: relative;
  }